/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2018, 08:52:36 PM
    Author     : GABY
*/
body{
    font-family: 'Roboto Slab', serif;
}

#fondo {    
    background-image: url('../Imagenes/190.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}




