/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2018, 12:13:58 AM
    Author     : GABY
*/
body{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}
#fondo {
    
    background-image: url('../Imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#jugador1{    
    font-size: 22px;      
}
#jugador2{    
    font-size: 22px;      
}
#jugador3{    
    font-size: 22px;      
}
#jugador4{    
    font-size: 22px;      
}
