/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/05/2018, 06:45:49 PM
    Author     : JAVIER
*/
body{
    font-family: 'Roboto Slab', serif;
}

#fondo {    
    background-image: url('../Imagenes/marcianos.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#tablero {
    width: 100%;
    background-color: #ff0;
    border: 2px solid yellow;
    
}
.celdastablero{
    border: 2px solid green;
    height: 50px;
    width: 50px;
}
/*td, th{
    border: 2px solid green;
    height: 150px;
    width: 150px;
}

/* border=1 cellspacing=0 cellpadding=2 bordercolor="black" */



