/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/05/2018, 06:45:49 PM
    Author     : GABY
*/
body{
    font-family: 'Roboto Slab', serif;
}

#fondo {    
    background-image: url('../Imagenes/marcianos.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#tablero {
    background-color: #ffeb3b;
    border: 5px solid #673AB7;
    border-collapse: separate;
    width: 400px;  
    
}
.celdastablero{
    border: 1px solid #673AB7;
    /*height: 40px;*/
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    background: white;
}

.nivel1{
    background-color: #FC8F03;
}

.nivel2{
    background-color: #FCE503;
}
.nivel3{
    background-color: #C3FC03;
}
.nivel4{
    background-color: #02F73D;
}
/*td, th{
    border: 2px solid green;
    height: 150px;
    width: 150px;
}

/* border=1 cellspacing=0 cellpadding=2 bordercolor="black" */



